<div class="table-container">
  <div class="header-actions">
    <div class="search-bar">
      <input
        type="text"
        placeholder="Rechercher par nom ou catégorie"
        [(ngModel)]="searchTerm"
        (input)="applyFilters()"
      />
    </div>

    <div class="rightMenu">
      <select [(ngModel)]="filterStatut" (change)="applyFilters()">
        <option value="Tous">Tous</option>
        <option value="Actif">Actif</option>
        <option value="En_attente">En attente</option>
        <option value="Rejete">Rejeté</option>
      </select>
      <button class="btn-primary" routerLink="/associations/create">+ Nouvelle Association</button>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>Contact</th>
        <th>Statut</th>
        <th>Date de création</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asso of paginatedAssociations">
        <td class="tdTitre">{{ asso.name }}</td>
        <td>{{ asso.typeAssociation }}</td>
        <td>{{ asso.email }}<br />{{ asso.phone }}</td>
        <td>
          <span class="status" [ngClass]="asso.statut">
            @if(asso.statut === 'Actif'){
            <img src="edite/actif.svg" alt="" srcset="" />
            } @else if(asso.statut === 'Rejete'){
            <img src="edite/rejete.svg" alt="" srcset="" />
            }
            {{ asso.statut }}
          </span>
        </td>
        <td>{{ asso.dateCreation |date:"dd-MM-yyyy"}}</td>
        <td>
          <button (click)="openViewModal(asso)">
            <img src="edite/voir.svg" alt="" srcset="" />
          </button>
          <button (click)="detail(asso)">
            <img src="edite/editer.svg" alt="" srcset="" />
          </button>
          <button (click)="openDeleteModal(asso)">
            <img src="edite/supprimer.svg" alt="" srcset="" />
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <div class="left">
      <p>Affichage de {{ itemsPerPage }} elements sur {{ filteredAssociations.length }}</p>
    </div>
    <div>
      <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
        Précédent
      </button>
      <span>{{ currentPage }}</span>
      <button
        (click)="changePage(currentPage + 1)"
        [disabled]="currentPage >= filteredAssociations.length / itemsPerPage"
      >
        Suivant
      </button>
    </div>
  </div>
</div>

<!-- ========== MODALE APERCU ========== -->
@if (showViewModal) {
<div class="modal">
  <div class="modal-content vue">
    <div class="content">
      <div class="btn">
        <button  style="position: absolute;top: 0; right: 0; background-color: rgb(205, 30, 45);color: white;" (click)="closeModals()">&times; fermer</button>
      </div>
      <div class="icon">
        <img src="edite/association.svg" alt="" srcset="" />
      </div>
      <div class="name-status">
        <h3>{{ selectedAssociation?.name }}</h3>
        <span class="status" [ngClass]="selectedAssociation?.statut">{{ selectedAssociation?.statut }}</span>
        <p>{{ selectedAssociation?.description || 'N/A' }}</p>
      </div>

      <div class="info">
        <p><strong>Catégorie :</strong> {{ selectedAssociation?.categorie }}</p>
        <p><strong>Email :</strong> {{ selectedAssociation?.email }}</p>
        <p><strong>Téléphone :</strong> {{ selectedAssociation?.phone }}</p>
        <p><strong>Adresse :</strong> {{ selectedAssociation?.address || 'N/A' }}</p>
        <!-- <p><strong>Description :</strong> </p> -->
        <p><strong>Date de création :</strong> {{ selectedAssociation?.dateCreation }}</p>
      </div>

    </div>
    @if (selectedAssociation?.statut == "En_attente") {
    <div class="modal-actions">
      <button (click)="validerAssociation(selectedAssociation!)">Valider</button>
      <button (click)="refuserAssociation(selectedAssociation!)">Refuser</button>
    </div>
    }@else {
      @if (selectedAssociation?.active) {
        <button (click)="desactiveAssociation(selectedAssociation!)" style="background-color: brown;color: aliceblue;width: fit-content;">Desactiver</button>
      }@else if(!selectedAssociation?.active && selectedAssociation?.statut !== 'Rejete') {
        <button (click)="validerAssociation(selectedAssociation!)" style="width: fit-content;">Reactiver</button>
      }@else {
        <button (click)="desactiveAssociation(selectedAssociation!)" style="background-color: brown;color: aliceblue;width: fit-content;">Supprimer</button>
      }
    }
    <!-- <button (click)="closeModals()">Fermer</button> -->
  </div>
</div>
}

<!-- ========== MODALE SUPPRESSION ========== -->
@if (showDeleteModal) {
<div class="modal">
  <div class="modal-content delete">
    <h3>Confirmer la suppression</h3>
    <p>
      Voulez-vous vraiment supprimer <strong>{{ selectedAssociation?.name }}</strong> ?
    </p>
    <div class="modal-actions">
      <button (click)="confirmDelete(selectedAssociation!.id!)" [disabled]="!selectedAssociation?.id">Oui, supprimer</button>
      <button (click)="closeModals()">Annuler</button>
    </div>
  </div>
</div>
}
